.loader {
    opacity: 0;
    pointer-events: none;
    transition: all var(--anim-duration-short);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-ink);
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader.active {
    opacity: 1;
}