.hero-section {
    /* height: calc(100vh - var(--ticker-height)); */
    height: 100vh;
}

canvas {
    /* margin: 20px; */
}

#lofi-video {
    /* display: none; */
    position: absolute;
    opacity: 0;
    pointer-events: none;
}