.about-section {
    padding: var(--size-m);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text {
    text-align: justify;
    font-size: 9vw;
    letter-spacing: -0.35vw;
    line-height: 1.1;
}